<app-nav></app-nav>
<div class="wrapper">
    <div class="page-header">
        <div class="page-header-image"></div>
        <div class="content">
            <div class="container">
                <div class="row" style="justify-content: center;align-content: center;">
                    <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
                        <div class="square square-7" id="square7"
                            style="transform: perspective(500px) rotateY(8.03deg) rotateX(-5.41667deg);"></div>
                        <div class="square square-8" id="square8"
                            style="transform: perspective(500px) rotateY(8.03deg) rotateX(-5.41667deg);"></div>
                        <div class="card card-register">
                            <div class="card-header"><img alt="Card image" class="card-img"
                                    src="assets/img/square1-red.png">
                                <h4 class="card-title">Login</h4>
                            </div>
                            <div class="card-body">
                                <form class="form ng-untouched ng-pristine ng-valid" novalidate="" (ngSubmit)="onLogin()">
                                    <div *ngIf="formError" class="alert alert-danger" role="alert">
                                        {{ formError }}
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="tim-icons icon-email-85"></i></div>
                                        </div><input autocomplete="off" [(ngModel)]="newUser.email" name="email" class="form-control" placeholder="Email" type="email">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="tim-icons icon-lock-circle"></i>
                                            </div>
                                        </div><input autocomplete="off" [(ngModel)]="newUser.password" name="password" class="form-control" placeholder="Password" type="password">
                                    </div>
                                    <button class="btn btn-danger btn-round btn-lg" type="submit" >Login</button>
                                </form>
                            </div>
                            <div class="card-footer"
                                style="display: flex; justify-content: center;align-content: center;">
                                <p>Don't Have Account? </p>
                                <a routerLink="/register"> Register Here </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-bg"></div>
                <div class="square square-1" id="square1"
                    style="transform: perspective(500px) rotateY(20.075deg) rotateX(-13.5417deg);"></div>
                <div class="square square-2" id="square2"
                    style="transform: perspective(500px) rotateY(20.075deg) rotateX(-13.5417deg);"></div>
                <div class="square square-3" id="square3"
                    style="transform: perspective(500px) rotateY(20.075deg) rotateX(-13.5417deg);"></div>
                <div class="square square-4" id="square4"
                    style="transform: perspective(500px) rotateY(20.075deg) rotateX(-13.5417deg);"></div>
                <div class="square square-5" id="square5"
                    style="transform: perspective(500px) rotateY(20.075deg) rotateX(-13.5417deg);"></div>
                <div class="square square-6" id="square6"
                    style="transform: perspective(500px) rotateY(20.075deg) rotateX(-13.5417deg);"></div>
            </div>
        </div>
    </div>
</div>